<html ng-app="myApp" ng-controller="myCtrl">
<head>
    <link rel="stylesheet" href="app.css" />
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
        var app = angular.module('myApp',[])
        app.controller('myCtrl',function($scope,$http){
            $http.get("http://127.0.0.1:8000/")
                    .then(function(response) {
                        $scope.myResponse = response.data;
                        $scope.myResponse= $scope.myResponse.var
                    });
        })

    </script>
</head>
<body>
<div>
    <table>
    <tr ng-repeat="item in myResponse">
        <td>Name</td>
        <td>{{item.name}}</td>
    </tr>
    </table>

</div>
</body>
</html>