<html ng-app="myRender">
<head>
    <link rel="stylesheet" href="app.css" />
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../controller/Render.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-controller="myCtrl">
<div class="ang-poc">
    <div class="nav-bar">
    <div class="nav-menu">
        <div class="nav-item" ng-click="requestJson(1)">Render 1 record</div>
        <div class="nav-item" ng-click="requestJson(10)">Render 10 records</div>
        <div class="nav-item" ng-click="requestJson(100)">Render 100 records</div>
        <div class="nav-item" ng-click="requestJson(1000)">Render 1000 records</div>
        <div class="nav-item" ng-click="requestJson(10000)">Render 10000 records</div>
        <div class="nav-item" ng-click="requestJson(100000)">Render 100000 records</div>
    </div>
    </div>
    <div ng-show="myResponse">
    <p>DOM load for 1 record set</p>
    <div>
    <table>
       <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Marks</th>
        </tr>
    <tr ng-repeat="item in myResponse">
        <td>{{item._id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.gender}}</td>
        <td>{{item.age}}</td>
        <td>{{item.marks}}</td>
    </tr>
    </table>
    </div>
    </div>
</div>
</body>
</html>