<html ng-app="myRender">
<head>
    <title>Angular 1</title>
    <link rel="stylesheet" href="app/view/app.css" />
    <script src="node_modules/angular/angular.js"></script>
    <script src="app/controller/Render.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-controller="myCtrl">
<div class="ang-poc">
    <div class="nav-bar">
    <div class="nav-menu">
        <div class="nav-item" ng-click="requestJson(1)">Render 1 record</div>
        <div class="nav-item" ng-click="requestJson(10)">Render 10 records</div>
        <div class="nav-item" ng-click="requestJson(100)">Render 100 records</div>
        <div class="nav-item" ng-click="requestJson(1000)">Render 1000 records</div>
        <div class="nav-item" ng-click="requestJson(10000)">Render 10000 records</div>
        <div class="nav-item" ng-click="requestJson(100000)">Render 100000 records</div>
    </div>
    </div>
    <div class="container" ng-show="myResponse">
    <div>
    <p class="renderData">DOM load for {{id}} record set in ANGULAR </p>
    <div>
    <table>
       <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Marks</th>
        </tr>
    <tr ng-repeat="item in myResponse">
        <td>{{item._id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.gender}}</td>
        <td>{{item.age}}</td>
        <td>{{item.marks}}</td>
    </tr>
    </table>
    </div>
    </div>
    <div class= "displayStat">
            <p class="stat-head">DOM RENDERING TIME  </p>
            <div><p> Complete time to for request to render => {{complete}} ms</p></div>
            <button class="update-button" ng-click="update(id)">Update Records</button>
        </div>
    </div>
</div>
</body>
</html>